<div class="row animated fadeIn fast">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>
        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="users.length === 0"
        >
          <div class="mb-0">No hay usuarios con ese término.</div>
        </div>
        <table class="table animated fadeIn fast" *ngIf="users.length > 0">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <img
                  [src]="user.img! | image: 'usuarios'"
                  [alt]="user.name"
                  class="avatar"
                />
              </td>
              <td>{{ user.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3>Médicos</h3>
        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="medics.length === 0"
        >
          <div class="mb-0">No hay médicos con ese término.</div>
        </div>
        <table class="table animated fadeIn fast" *ngIf="medics.length > 0">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medic of medics" (click)="openMedic(medic)">
              <td>
                <img
                  [src]="medic.img! | image: 'medicos'"
                  [alt]="medic.name"
                  class="avatar"
                />
              </td>
              <td>{{ medic.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>
        <div
          class="alert alert-info animated fadeIn fast"
          *ngIf="medics.length === 0"
        >
          <div class="mb-0">No hay hospitales con ese término.</div>
        </div>
        <table class="table animated fadeIn fast" *ngIf="hospitals.length > 0">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitals">
              <td>
                <img
                  [src]="hospital.img! | image: 'hospitales'"
                  [alt]="hospital.name"
                  class="avatar"
                />
              </td>
              <td>{{ hospital.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
