<div class="row">
  <div class="col-6">
    <app-donut
      [title]="titles[0]"
      [data]="[datas[0]]"
      [labels]="labels[0]"
    ></app-donut>
  </div>
  <div class="col-6">
    <app-donut
      [title]="titles[1]"
      [data]="[datas[1]]"
      [labels]="labels[1]"
    ></app-donut>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-donut
      [title]="titles[2]"
      [data]="[datas[2]]"
      [labels]="labels[2]"
    ></app-donut>
  </div>
  <div class="col-6">
    <app-donut
      [title]="titles[3]"
      [data]="[datas[3]]"
      [labels]="labels[3]"
    ></app-donut>
  </div>
</div>
