<div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">My perfil de usuario</h4>
      <h6 class="card-subtitle">Actualice su info aquí.</h6>
      <form
        class="form p-t-20"
        [formGroup]="profileForm"
        (ngSubmit)="updateUserProfile()"
      >
        <div class="form-group">
          <label for="exampleInputuname">User Name</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="ti-user"></i></div>
            <input
              type="text"
              class="form-control"
              id="exampleInputuname"
              placeholder="Username"
              formControlName="name"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="ti-email"></i></div>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Enter email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="d-grid gap-2 d-md-block">
          <button
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="profileForm.invalid"
          >
            <i class="fa fa-save"></i>
            Guardar cambios
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Avatar</h4>
      <h6 class="card-subtitle">Imagen de usuario</h6>
      <img src="" alt="" />
      <input type="file" />
      <br />
      <br />
      <div class="d-grid gap-2 d-md-block">
        <button
          type="submit"
          class="btn btn-success waves-effect waves-light m-r-10"
        >
          Cambiar imagen
        </button>
      </div>
    </div>
  </div>
</div>
