<div
  class="fondo-modal-imagen animated fadeIn fast"
  [class.oculto]="modal.hideModal"
>
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">
            Crea una cita médica
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="clinicHistoryForm"
            (ngSubmit)="submitForm()"
            *ngIf="isVisible"
          >
            <div class="mb-3">
              <label for="admisionDate">Fecha de admisión</label>
              <input
                class="form-control"
                type="date"
                id="admisionDate"
                formControlName="admisionDate"
              />
              <small class="text-danger" *ngIf="isFieldInvalid('admisionDate')"
                >Ingrese una fecha válida.</small
              >
            </div>

            <!-- <div class="mb-3">
              <label for="diagnostic">Diagnóstico</label>
              <textarea
                class="form-control"
                id="diagnostic"
                cols="30"
                formControlName="diagnostic"
                rows="5"
                placeholder="Escriba el diagnóstico del paciente"
                maxlength="500"
              ></textarea>
              <small class="text-danger" *ngIf="isFieldInvalid('diagnostic')"
                >El diagnóstico no debe superar los 500 caracteres.</small
              >
            </div> -->

            <div class="mb-3">
              <label for="medicName">Nombre del médico</label>
              <input
                class="form-control"
                type="text"
                placeholder="Ingrese el nombre del médico"
                formControlName="medicName"
              />
              <small class="text-danger" *ngIf="isFieldInvalid('medicName')"
                >Ingrese un nombre válido.</small
              >
            </div>

            <div class="row mb-3">
              <div class="col-7">
                <label for="patientBirthdate">Nacimiento del paciente</label>
                <input
                  class="form-control"
                  type="date"
                  id="patientBirthDate"
                  formControlName="patientBirthdate"
                />
                <small
                  class="text-danger"
                  *ngIf="isFieldInvalid('patientBirthdate')"
                  >Ingrese una fecha válida.</small
                >
              </div>

              <div class="col">
                <label for="patientDni">DNI del paciente</label>
                <input
                  class="form-control"
                  type="text"
                  id="patientDni"
                  maxlength="8"
                  formControlName="patientDni"
                />
                <small class="text-danger" *ngIf="isFieldInvalid('patientDni')"
                  >Ingrese un número de DNI válido.</small
                >
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label for="patientName">Nombre del paciente</label>
                <input
                  class="form-control"
                  type="text"
                  id="patientName"
                  placeholder="Ingrese el nombre del paciente"
                  formControlName="patientName"
                />
                <small class="text-danger" *ngIf="isFieldInvalid('patientName')"
                  >Ingrese un nombre válido de paciente.</small
                >
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <label for="patientSex">Sexo del paciente</label>
                <select
                  id="patientSex"
                  class="form-control"
                  formControlName="patientSex"
                >
                  <option value="hombre">Masculino</option>
                  <option value="mujer">Femenino</option>
                </select>
                <small class="text-danger" *ngIf="isFieldInvalid('patientSex')"
                  >Sea lo que haya ingresado, no es una opción válida.</small
                >
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary" (click)="submitForm()">
            Crear cita médica
          </button>
        </div>
        <div
          class="pb-2 px-3 mt-1"
          *ngIf="clinicHistoryForm.invalid && formSubmitted"
        >
          <strong class="text-danger text-center"
            >Tiene que llenar los campos correspondientes.</strong
          >
        </div>
      </div>
    </div>
  </div>
</div>
