<button
  class="btn btn-primary mb-4"
  (click)="createHistoryForm()"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Crear cita médica
</button>

<div *ngIf="appointments.length === 0; else withAppointments">
  <p>Todavía no hay historias clínicas. ¡Crea una ahora!</p>
</div>

<ng-template #withAppointments>
  <h2>Citas médicas</h2>
  <div class="row">
    <div class="col" *ngFor="let history of appointments">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            ID de la cita:
            <strong>{{ history._id | slice: -4 | clinicNumber }}</strong>
          </h5>
          <h5 class="card-subtitle mb-2">
            Médico encargado:
            <strong class="text-bold">{{ history.medicName }}</strong>
          </h5>

          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col">Nombre del paciente</th>
                <th scope="col">DNI</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Fecha de admisión</th>
                <th scope="col">Sexo</th>
                <!-- <th scope="col">Diagnóstico</th> -->
              </tr>
            </thead>
            <tbody>
              <td>{{ history.patientName }}</td>
              <td>{{ history.patientDni }}</td>
              <td>{{ history.patientBirthdate | date }}</td>
              <td>{{ history.admisionDate | date }}</td>
              <td>{{ history.patientSex | patientSex }}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-clinic-form (formEmitter)="receiveForm($event)"></app-clinic-form>
